@font-face {
  font-family: fontti;
  src: url(fonts/franklinFontti.ttf);
}

body {
  background: #626265;
  font-family: fontti, Arial, sans-serif;
  text-align: center;
}

div,
h1 {
  color: #ff7f50;
}

#messageContainer {
  position: relative;
  top: 50%; 
  right: 20%; 
  transform: translate(0, -50%);
  font-size: 35px;
}

button {
  position: relative;
  top: 320px;
  background: #4b4f56;
  color: #ff7f50;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 20px;
  font-size: 16px;
  font-family: fontti, Arial, sans-serif;
}
/*INPUTTIEN CSS! KORJAA MYÖHEMMIN*/
.inputGroup {
  position: relative;
  margin: 20px 0;
}

.inputGroup input {
  width: 250px;
  height: 70px;
  font-size: 16px;
  color: #fff;
  background: transparent;
  border: 1.2px solid #fff;
  outline: none;
}

.inputGroup label {
  position: relative;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 19px;
  color: #ff7f50;
  padding: 0 5px;
  pointer-events: none;
  transition: 0.5s;
}

.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label {
  top: 0;
  background: #626265;
  font-size: 15px;
}

/*INPUTTIEN CSS! KORJAA MYÖHEMMIN*/
button:hover {
  background: #6c757d;
  color: #ffffff;
}

.frontside,
.backside {
  position: relative;
  transform: translate(0, 50%);
  font-size: 40px;        
  border-radius: 15%;
  backface-visibility: hidden;
  transition: transform 0.6s;
  background: #4b4f56;
  align-items: center;    
  justify-content: center;       
}

.frontside{
  background: white;
}
